section {
    padding: 75px 0;
}

.header-section {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    @include breakpoint(large) {
        min-height: 600px;
        height: 100vh;
    }

    .inner {
        width: 100%;

        @include breakpoint(large) {
            max-width: 50%;
        }
    }

    h1 {
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 1.2;

        @include breakpoint(large) {
            font-size: 96px;
        }
    }

    p {
        margin-bottom: 20px;

        @include breakpoint(large) {
            margin-bottom: 30px;
            font-size: 24px;
        }
    }

    .logo {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
        z-index: -1;

        height: 20vh;

        @include breakpoint(large) {
            height: auto;
        }
    }

    .background-text {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 240px;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: $primary;
        -webkit-text-fill-color: transparent;
        z-index: -1;
        font-weight: bold;
        opacity: 0.2;

        @include breakpoint(large) {
            font-size: 50vh;
        }
    }
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;

    @include breakpoint(large) {
        font-size: 64px;
        margin-bottom: 40px;
    }

}


.upload-section {
    .upload-container {
        padding: 50px 0;
        width: 100%;
        border: 2px solid $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        flex-direction: column;
        position: relative;
        text-align: center;
        cursor: pointer;

        @include breakpoint(large) {
            height: 70vh;
        }


    }

    .or-bar {
        margin: 20px auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        span {
            display: inline-block;
            padding: 3px 20px;
            background: $black;
        }

        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            height: 2px;
            top: 50%;
            z-index: -1;
            transform: translateY(-50%);
            background-color: $white;
        }
    }

    .button {
        pointer-events: none;
    }

    img {
        margin-bottom: 20px;
    }

    h3 {
        line-height: 1;
        font-size: 22px;

        @include breakpoint(large) {
            font-size: 28px;
        }
    }

    input {
        position: absolute;
        inset: 0 0 0 0;
        opacity: 0;
        width: 100%;
        cursor: pointer;
    }

    #error-text {
        margin-top: 10px;
        border-radius: 5px;
        background-color: $white;
        color: $black;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 15px 20px;
        opacity: 0;
        visibility: hidden;
        transition: 300ms ease;

        &.visible {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, 50%);
        }
    }

}