$black: #161616;
$white: #FFFFFF;
$primary: #6117FF;
$gray: #383838;
$dark-gray: #222222;
$light-gray: #C4C4C4;

$breakpoints: ('small': 360px,
    'medium': 820px,
    'large': 1280px,
    'xlarge': 1420px);