* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: $black;
    color: $white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.button,
button {
    display: inline-block;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    background: $primary;
    border-radius: 30px;
    color: $white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.text-primary {
    color: $primary;
}